<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello from flask</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"> -->
  </head>
  <body>
    <h1 style="color:  red;">{{person}}</h1>
    <h2>how are you my name is <h1 style="color:  green;"> bole baccchan</h1></h2>
    <h3>here your link for redirect to homepage <a href="{{url}}" style="text-decoration:  none;">Go to Homepage</a></h3>
  </body>
</html>
